<style>
    .payment-option-content.store-credit-container {
        max-width: unset;
    }

    .payment-option-content.store-credit-container {
        display: flex !important;
    }

    .payment-option-inner {
        width: 80%;
        margin-right: 20px;
    }

    .payment-option._collapsible.opc-payment-additional.store-credit-add {
        padding-top: 20px;
    }

    @media only screen and (max-width: 479px) {
        .payment-option-content.store-credit-container {
            flex-flow: column;
        }

        button.action.action-apply {
            width: 100%;
            margin-top: 15px;
        }

        .payment-option-inner {
            width: 100%;
            margin: 0;
        }
    }
</style>
<!-- ko if: isVisible() -->
<div class="payment-option _collapsible opc-payment-additional store-credit-add"
    data-bind="mageInit: {'collapsible':{'active': isEncourage, 'openedState': '_active'}}">
    <div class="store-credit-left" data-role="title">
        <!-- ko i18n: 'You have '--><!-- /ko -->
        <strong data-bind="text: getStoreCreditLeft()"></strong>
        <!-- ko i18n: ' on your Store Credit account'--><!-- /ko -->
        <!-- ko if: isCreditsTooltipEnabled -->
        <div class="field-tooltip">
            <span class="field-tooltip-action" data-amcredits-js="tooltip"
                data-bind="attr: {title: creditsTooltipContent}"></span>
        </div>
        <!-- /ko -->
    </div>
    <div class="payment-option-content store-credit-container" data-role="content"
        aria-labelledby="block-reward-heading">
        <div class="payment-option-inner">
            <!-- ko ifnot: isApplied() -->
            <div class="field">
                <div class="control">
                    <input class="input-text" type="text" id="amstorecredit_amount"
                        data-validate="{'required-entry':true}"
                        data-bind="value: amount, attr:{placeholder: $t('Enter store credit amount')}">
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: isApplied() -->
            <div><span data-bind="i18n: 'Applied store credit amount is '"></span> <span
                    data-bind="text: getFormatAmount()"></span></div>
            <!-- /ko -->
        </div>
        <div class="actions-toolbar storecredit-actions">
            <div class="primary">
                <!-- ko ifnot: isApplied() -->
                <button class="action action-apply" type="submit"
                    data-bind="'value': $t('Apply Store Credit'), click: applyStoreCredit">
                    <span><!-- ko i18n: 'Apply Store Credit'--><!-- /ko --></span>
                </button>
                <!-- /ko -->
                <!-- ko if: isApplied() -->
                <button class="action action-cancel" type="submit"
                    data-bind="'value': $t('Cancel Store Credit'), click: cancelStoreCredit">
                    <span><!-- ko i18n: 'Cancel Store Credit'--><!-- /ko --></span>
                </button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->