<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vsms">
            <group id="settings">
            	<group id="sms_gateway">
	            	<field id="nexmo_api_key" translate="label tooltip" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Nexmo API Key</label>
	                    <config_path>vsms/settings/nexmo_api_key</config_path>
	                    <depends>
	                        <field id="gateway">nexmo</field>
	                    </depends>
	                </field>
	                <field id="nexmo_api_secret" translate="label tooltip" type="text" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Nexmo API Secret</label>
	                    <config_path>vsms/settings/nexmo_api_secret</config_path>
	                    <depends>
	                        <field id="gateway">nexmo</field>
	                    </depends>
	                </field>
	                
	                <field id="nexmo_sender" translate="label tooltip" type="text" sortOrder="42" showInDefault="1" showInWebsite="1" showInStore="0">
	                    <label>Nexmo Sender</label>
	                    <config_path>vsms/settings/nexmo_sender</config_path>
	                    <comment>An alphanumeric string giving your sender address. For example, MyCompany20.</comment>
	                    <depends>
	                        <field id="gateway">nexmo</field>
	                    </depends>
	                </field>
                </group>
            </group>
        </section>
    </system>
</config>
