<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magefan\Blog\Model\Post">
        <plugin name="ox_change_featured_image" type="Olegnax\Athlete2\Plugin\Blog\Model\Post" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="ox_adaptive_resize_gallery" type="Olegnax\Athlete2\Plugin\Catalog\Block\Product\View\Gallery" sortOrder="1"/>
    </type>
    <type name="Magento\ConfigurableProduct\Helper\Data">
        <plugin name="ox_adaptive_resize_configurable_helper" type="Olegnax\Athlete2\Plugin\ConfigurableProduct\Helper\Data" sortOrder="1"/>
    </type>
    <type name="Magento\Swatches\Helper\Data">
        <plugin disabled="false" sortOrder="10"
                name="Olegnax_Athlete2_Plugin_Frontend_Magento_Swatches_Helper_Data"
                type="Olegnax\Athlete2\Plugin\Frontend\Magento\Swatches\Helper\Data"/>
    </type>
    <preference for="Magento\Catalog\Block\Product\View\Details" type="Olegnax\Athlete2\Plugin\Catalog\Block\Product\View\Details"/>
    <type name="Magento\Customer\Model\Account\Redirect">
        <plugin disabled="false"
                name="Olegnax_Athlete2_Plugin_Frontend_Magento_Customer_Model_Account_Redirect"
                sortOrder="10"
                type="Olegnax\Athlete2\Plugin\Frontend\Magento\Customer\Model\Account\Redirect"/>
    </type>
    <type name="Olegnax\Core\Helper\ProductImage">
        <plugin name="Olegnax_Athlete2_Plugin_Frontend_Olegnax_Core_Helper_ProductImage"
                type="Olegnax\Athlete2\Plugin\Frontend\Olegnax\Core\Helper\ProductImage"
                sortOrder="10"
                disabled="false"/>
    </type>
    <type name="Magento\Swatches\Block\Product\Renderer\Listing\Configurable">
        <plugin name="Olegnax_Athlete2_Plugin_Frontend_Magento_Swatches_Block_Product_Renderer_Listing_Configurable"
                type="Olegnax\Athlete2\Plugin\Frontend\Magento\Swatches\Block\Product\Renderer\Listing\Configurable"
                sortOrder="10" disabled="false"/>
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin sortOrder="10" name="Olegnax_Athlete2_Cart_Modify" type="Olegnax\Athlete2\Plugin\CustomerData\Cart"/>
    </type>

    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="Olegnax_Athlete2_Abstract_Product_Plugin" type="Olegnax\Athlete2\Plugin\Catalog\Block\Product\AbstractProductPlugin"/>
    </type>
    <type name="Magento\CatalogWidget\Block\Product">
        <plugin name="Olegnax_Athlete2_CatalogWidget_Block_Plugin" type="Olegnax\Athlete2\Plugin\CatalogWidget\Block\Product\CatalogWidgetBlockPlugin"/>
    </type>
    <type name="Olegnax\ProductSlider\Block\AbstractShortcode">
        <plugin name="Olegnax_Athlete2_ProductSlider_Block_Plugin" type="Olegnax\Athlete2\Plugin\CatalogWidget\Block\Product\CatalogWidgetBlockPlugin"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View\GalleryOptions">
        <plugin name="Olegnax_Athlete2_Product_GalleryOptions" type="Olegnax\Athlete2\Plugin\Product\ModifyGalleryOptions" />
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Olegnax_Athlete2_Product_Configurable_Plugin" type="Olegnax\Athlete2\Plugin\ConfigurableProduct\Block\Product\View\Type\Configurable" />
    </type>
    <!-- <type name="Magento\Swatches\Block\Product\Renderer\Configurable">
        <plugin name="Olegnax_Athlete2_Swatches_Renderer_Plugin" type="Olegnax\Athlete2\Plugin\Swatches\Block\Product\Renderer\Configurable"/>
    </type> -->
</config>
