<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\ShopbyBrand\Block\Catalog\Product\ProductList\MoreFrom" type="Kpopiacustom\Customizations\Block\Catalog\Product\ProductList\MoreFrom" />
</config>