<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Router\NoRouteHandlerInterface">
        <plugin name="store_redirect_plugin" type="Kpopia\StoreRedirect\Plugin\NoRouteRedirect"/>
    </type>
</config>
