<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Backend\Block\Dashboard\Grids" type="Kpopia\DashboardGraph\Block\Dashboard\Grids"/>
    <preference for="Magento\Backend\Block\Dashboard\Diagrams" type="Kpopia\DashboardGraph\Block\Dashboard\Diagrams"/>
</config>
