<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="customordertab" frontName="customordertab">
            <module name="Eextensions_CustomOrderTab" before="Magento_Backend" />
        </route>
    </router>
</config>