<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\View\Element\UiComponent\DataProvider\FilterApplierInterface">
        <plugin name="amasty_report_sales_order_items_listing_modifier"
                type="Dakha\CustomWork\Plugin\UiComponent\DataProvider\FilterApplier"
                sortOrder="1"/>
        <plugin name="amasty_report_sales_order_items_listing_category_filter" type="Dakha\CustomWork\Plugin\UiComponent\DataProvider\CategoryFilterApplier" sortOrder="1"/>
    </type>
</config>
